modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Android App Server"

[[workflows.workflow]]
name = "Android App Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = """
mkdir -p \"$HOME/android-sdk/licenses/\" && echo -e \"8933bad161af4178b1185d1a37fbf41ea5269c55
d56f5187479451eabf01fb78af6dfcb131a6481e
24333f8a63b6825ea9c5514f83c2829b004d1fee\" > \"$HOME/android-sdk/licenses/android-sdk-license\" && echo \"84831b9409646a918e30573bab4c9c91346d8abd\" > \"$HOME/android-sdk/licenses/android-sdk-preview-license\" && echo \"33b6a2b64607f11b759f320ef9dff4ae5c47d97a\" > \"$HOME/android-sdk/licenses/google-gdk-license\" && ANDROID_SDK_HOME=\"$HOME/android-sdk\" ANDROID_SDK_ROOT=\"$HOME/android-sdk\" ./gradlew :app:installDebug && ./gradlew appStart"""

[deployment]
run = ["sh", "-c", '''
mkdir -p "$HOME/android-sdk/licenses/" && \
echo -e "8933bad161af4178b1185d1a37fbf41ea5269c55\nd56f5187479451eabf01fb78af6dfcb131a6481e\n24333f8a63b6825ea9c5514f83c2829b004d1fee" > "$HOME/android-sdk/licenses/android-sdk-license" && \
echo "84831b9409646a918e30573bab4c9c91346d8abd" > "$HOME/android-sdk/licenses/android-sdk-preview-license" && \
echo "33b6a2b64607f11b759f320ef9dff4ae5c47d97a" > "$HOME/android-sdk/licenses/google-gdk-license" && \
export ANDROID_SDK_HOME="$HOME/android-sdk" && \
export ANDROID_SDK_ROOT="$HOME/android-sdk" && \
./gradlew :app:installDebug && ./gradlew appStart''']
